#scroll-to-top {
  background-color: rgba(237, 80, 28,0.87);
  width: 44px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  visibility: hidden;
  transition: background-color .3s, opacity .5s, visibility .5s !important;
  opacity: 0;
  z-index: 500;
  animation-iteration-count: infinite;
}

#scroll-to-top i {
  color: #fff;
  font-size: 22px;
  line-height: 44px;
}

#scroll-to-top:hover {
  background-color: rgb(237, 80, 28)!important;
}

#scroll-to-top.show {
  visibility: visible;
  opacity: 1;
}


